* {
  box-sizing: border-box; }
h1{
	margin-top: 70px;
    text-align: center;
    font-size: 65px;
    font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
.details{
	float: right;
	font-size: 15px;
	margin-right:20px;
	color: lightblue;
 }
.header{
	font-size: 50px;
	background-image:linear-gradient(90deg, #159957, #155799);
	
	color: white;
	font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, serif;
	padding-top: 20px;
}
#header_name{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, serif;
	font-weight: bold;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

  nav{
  	border: 1px dotted lightsteelblue;
  	
  	
  }
  ul.a{
  	list-style-type: square;
  }


.btn{
	border: 1px solid white ;
	background: rgba(255, 255, 255, 0.08);
	border-radius: .3rem;
	color: ghostwhite;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: red;

	


}
a{
	text-decoration: none;
	
	font-size: 10px;
	margin-left: 20px;
	opacity: .8;

}

a:hover{
	background:rgba(0, 0, 0, 0.2); 
	font-size: 25px;


}
.middle{
	text-align: center;
	margin-bottom: 10px;

}
#linkedin{
	font-size: 20px;

}
#GitHub{
	font-size: 20px;

}
h3{
	margin-top: 30px;
	font-size: 40px;
	
}
body{
	background: mintcream;
}
.fontsize{
	font-size: 25px;
	color: #606c71;
	font-family: Arial, Helvetica, sans-serif;
}

.borderleft{
	border-left:3px solid red;
}
#backward{
float: right;
}
#forward{
float: left;
}
#image_display{
	margin-top: 10px}
#image{
	margin-top: 0px;

}
.btns{
	border: 2px solid blue;
	background:mediumaquamarine;
	border-radius: 10px;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	color: blue;
}

img{
	border: 3px solid yellow;
}
.intent{
	margin-left: 40px;
}

footer{
	border-top: 2px solid lightblue;
	margin-bottom: 30px;
	margin-top: 40px;
	padding-top: 20px;
}
.footer_font1{
	font-size: 20px;
	font-weight:bold ;
	color: grey;
}
.footer_font{

	font-size: 20px;
	color: bue;
}
.footer_font:hover{
	background: mintcream;
	text-decoration: underline;
	font-size: 20px;

}
.top{
	float: right;
	border: 2px solid blue;
	
	font-size: 20px;
	color: blue;
	background: mediumaquamarine;
	margin-bottom: 20px;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;

}
.top:hover{
	font-size: 20px;
	color: blue;
	background: mediumaquamarine;
	cursor: pointer;
	text-decoration: underline;

}
